:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;

	background-color: #242424;
}
body {
	background-color: white;
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	display: flex;
	overflow: auto;
	flex-direction: column;
	background-color: #f5f5fa;
	min-height: 100vh;
}
